<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/grocery-transparent-background.png" alt="">
  </div>
  <div class="headings">
    <h2>Farm to Fork</h2>
    <h3>Freshness guarenteed</h3>
    <a href="/smoothies" class="btn">View Recipes</a>
  </div>
</header>


<%- include('partials/footer'); -%>